
%table.stats
	%thead
		%tr
			%th Average
			%th Total
	%tbody
		%tr
			%td= "$#{collection.average()} / day"
			%td= "$#{collection.total()}"

%table.expenses
	- if(collection.models.length) {
	%thead
		%tr
			:for field in ['date', 'category', 'name', 'amount']
				%th= field.capitalize()
			%th.controls
	%tbody
		:for model in collection.models
			%tr.expense
				:for field in ['date', 'category', 'name', 'amount']
					%td{ class: "attr #{field}", data-name: "#{field}" }= model.get(field)
				%td.controls
					%button.save.tiny{ data-id: "#{model.get('id')}" } Save
					%button.delete.tiny.alert{ data-id: "#{model.get('id')}" } X
	- }
